.questionOne {
  margin-top: 30px !important;
  background-color: black;
}

.box {
  width: 30vw;
  height: auto;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  border-radius: 10px;
}

.questionOne p {
  font-size: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.questionOne h1 {
  border: 2px solid white;
  border-radius: 5px;
  width: 40%;
  margin: 10px auto 10px;
  padding: 15px;
}

#questionOne h1:hover {
  color: #000 !important;
  background-color: #fff;
}

a {
  cursor: pointer;
}

input {
  display: none;
  margin: auto;
  margin-bottom: 10px;
}



.score-board {
 background-color: grey;

}
.score-board p {
  font-size: 30px;
}

.white {
  color: #fff !important;
}

.red {
  color: red;
}


@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .questionOne {
      width: 200px;
      height: 200px;

    }



}
