.questionOne {
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
  color: white;
}
.questionOne p {
  font-size: 100px;
  padding-top: 120px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.score-board {
 background-color: grey;
 color: white;
 width: 400px;
 height: 100px;
 text-align: center;
 margin: 0 auto;
 border-radius: 10px;
}
.score-board p {
  padding-top: 40px;
  font-size: 30px;
}


@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .questionOne {
      width: 200px;
      height: 200px;

    }



}
