
.questionOne {
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 80px auto;
  background-color: black;
  color: white;

}




h1 {
  font-size: 60px;
  color: #CE2D36;
  display: none;


  /*margin: 160px 0 80px 0;*/
}

h1.clicked {
  display:block;
}



#question {
    font-size: 80px;
    margin: 80px 0 20px 0;
}
